/*
.introview{
    background: #fff url(../img/intro-bg-1680-f-small2.jpg) no-repeat fixed top center;
    height: 400px;
}*/

.space{
    height: 50px;
}

.space-2{
    height: 100px;
}

body{
    background: #fff url(../img/end-bg.jpg) no-repeat fixed top center;
    font-family: "Montserrat";
}

.cif-menu {
    color: #000;
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 2px;
}

.cif-title{
    display: inline-block;
    width: 70%;
}

.cif-badge{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}

.cif-badge span{
    background-color: #921e12;
    max-width: 100px;
}

.details-title{
    font-size: 24px;
    font-weight: bold;
    width: 100px;
}

.details-content{
    text-align: center;
}

.center-details{
    width: 800px;
    margin: auto;
}

.form-login{
    padding: 17px;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: montserrat;
}

.element {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flashBG {

}

#modal {
    background: #FFF;
    width: 500px;
    text-align: center;
    padding: 1.5em;
    margin: 1em auto;
    border: 0;
    border-top: 5px solid #2c3e50;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

#modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal + .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}